.slider {
	height: 100vh;
	box-shadow: inset 0 50px 50px #000, inset 0 -50px 50px #000;
}

.slider .slide {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide__image {
	width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slide__overlay {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.slide__content {
	text-align: center;
	transition: opacity .25s ease;
  // padding: 20px;
  color: $white;
  text-shadow: 1px 1px 55px rgba(0, 0, 0, 5);
  position: absolute;
  top: 50%;
  left: 50%;
 	transform: translate(-50%, -50%);
  z-index: 2;
}

.slide__content h2 {
	font-size: calc(var(--index) * 2);
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * 1);
	margin-bottom: calc(var(--index) * 2.3);
	position: relative;
	line-height: 1.5;
}

.slide__content h2::after {
	content: '';
	height: 1px;
	width: 20%;
	background-color: $main;
	position: absolute;
	left: 40%;
	bottom: calc(var(--index) * -1);
}

.slide__content p {
	font-size: calc(var(--index) * .9);
	text-transform: uppercase;
	color: rgba(255 255 255 / .8);
	letter-spacing: calc(var(--index) * .24);
	line-height: 1.5;
}

.slide__content p:not(:first-child) {
	margin-bottom: 20px;
}

.slider-navigation {
	--swiper-navigation-size: 30px;
}